body, html {height: 100%;}
*{ margin:0; padding:0;list-style-type:none;}
p{ text-align:center; color:#FFF;  }

.main_content{ height:100%; position:relative; z-index:1;}
.fixed_bg{ background-attachment:fixed;}
.fixed_bg{ width:100%; background-position:center center; background-repeat:no-repeat; background-size:cover; min-height:100%; position:relative; z-index:1;}

.scroll_bg{ min-height:100%; position:relative; z-index:2;}
.color_1{ background-color:#FFF;}
.color_2{ background-color:#FFF; bottom: 100px; }
.color_3{ background-color:#fff;}


video#bgvid {  
    position:fixed; right: 0; bottom: 0;  
    min-width: 100%; min-height:100%;  
    z-index: -100;  
    background-size: cover;
    -webkit-mask:color#000000;
   
}  
video#bgvid2 {  
    position: relative; right: 0; bottom: 0;  
    min-width: 100%; min-height:100%;  
    z-index: -100;  
    background-size: cover;
    -webkit-mask:color#000000;
   
} 



#yindaop{ position: relative; top:200px;}
.yindaop{ width: 10%; position: relative;left: 7%;float: left;}
.headbelt{ height: 60px; background-color: black;width: auto;}
#writername{position: relative; bottom: 15%; }
#mengban1{width: 100%;height: 100%;background-color: black; opacity: 0.5;}
      
        
.loading {
    text-transform: uppercase;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    height: 120px;
    line-height: 50px;
    vertical-align: bottom;
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
    bottom: 0;
    display: block;
  }
  
  .loading-2 {
    top: 300px;
    width: 473px;
    height: 97px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.06);
    margin: 0 auto;
  }
  
  
  
  
  
  @keyframes wave-animation {
    0% {
      background-position: 0 bottom;
    }
  
    100% {
      background-position: 200px bottom;
    }
  }
  @keyframes loading-animation {
    0% {
      background-size: 200px 0px;
    }
  
    100% {
      background-size: 200px 200px;
    }
  }
  

.hahap{letter-spacing: 4px;font-size: 15px; line-height: 35px;}
.fontkkl{text-align:justify; text-justify:inter-ideograph;letter-spacing: 4px;font-size: 16px; line-height: 35px;font-family:'Source-Han-Ligh12e5a469701a01b' !important;text-indent:2em}
.section-heading{ text-align:justify; text-justify:inter-ideograph;letter-spacing: 4px;font-size: 16px; line-height: 35px;}